.tileR {
    background-color: #ff8080;
    border-radius: 7px;
    padding: 10px 5px;
    margin: 5px;
}

.tileB {
    background-color: #7c99d6;
    border-radius: 7px;
    padding: 10px 5px;
    margin: 5px;

}


.tileY {
    background-color: #dee84f;
    border-radius: 7px;
    padding: 10px 5px;
    margin: 5px;
}


.tileG {
    background-color: #6ff78b;
    border-radius: 7px;
    padding: 10px 5px;
    margin: 5px;
}

h1 {
    color: red;
    text-align: center;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px black;
}

h2 {
    text-align: center;

    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px red;
}