@import de.htwg.se.rummy.controller.ControllerInterface
@import de.htwg.se.rummy.controller.component.ControllerState
@import de.htwg.se.rummy.controller.component.AnswerState
@(controller: ControllerInterface)

@toScalar(house: Int) = @{3}

@main("HTWG Rummy") {

    <div class="container">
        <div class="col-sm-12 shadow p-3 mb-3 bg-white rounded text-center" role="alert" id="news">
            This is a test news message.
        </div>
        <div class="alert alert-primary" id="todo" role="alert">
            This is a test controller state. Do nothing.
        </div>
    </div>


    <div class="container">
        <hr>
        <div class="m-md-auto" id="interaction">
            //will be added through js
        </div>
        <hr>
    </div>
    <div class="container">
        <h2>The Desk</h2>
        <div class="container col-md-12" id="desk">
            // will be added through js
        </div>

        <h2>The Board</h2>
        <div class="row col-md-12" id="board">
            // will be added through js
        </div>
    </div>

}
